/* 
    TABLE OF CONTENTS
    1. General Body
    2. Case Study
    3. Team
    4. Cover Section
    X. Media Queries
*/

/* 1. General Body */
code {
  background-color: #f1f1f1;
  padding: 3px;
  border-radius: 4px;
  /* color: #184d47; */
}

p {
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}

.mw-100 {
  max-width: 100%;
}

/* 2. CASE STUDY */
.case-study-h1 {
  color: #184d47;
}

.case-study-h2 {
  color: #96bb7c;
}

.case-study-anchor {
  text-decoration: none;
  color: rgb(168, 160, 149);
}

.case-study-anchor:hover {
  color: #184d47;
}

nav ul li {
  list-style: circle;
}

.top-25 {
  top: 25%;
}

.active {
  color: #184d47;
  font-weight: 700;
  list-style: disc !important;
}

.active > .case-study-anchor {
  color: #184d47;
  font-weight: 700;
}

/* Team */
.avatar {
  border-radius: 50%;
}

.person-icon {
  max-width: 50px;
  max-height: 50px;
}

.team-message {
  font-size: 1.3rem;
}

/* 4. Cover Section */
.cover-logo {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/* Uncategorized */
#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.border-radius-10 {
  border-radius: 10px;
}

/* Media Queries */
/* xs */
@media (min-device-width: 0) and (max-device-width: 575px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .cover-logo {
    max-width: 80%;
  }

  #github-logo {
    display: none;
  }
}

/* sm */
@media (min-width: 576px) and (max-device-width: 767px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .cover-logo {
    max-width: 80%;
  }
}

/* md */
@media (min-width: 768px) and (max-device-width: 991px) {
  .person-icon {
    max-width: 30px;
    max-height: 30px;
  }
}

/* lg */
@media (min-width: 992px) {
}

/* xlg */
@media (min-width: 1200px) {
}

/* xxlg */
@media (min-width: 1400px) {
}
