/* 
    TABLE OF CONTENTS
    1. General Body
    2. Case Study
    3. Team
    X. Media Queries
*/

/* 1. General Body */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}

.mw-100 {
  max-width: 100%;
}

/* 2. CASE STUDY */
.case-study-h1 {
  color: #184d47;
}

.case-study-h2 {
  color: #96bb7c;
}

.case-study-anchor {
  text-decoration: none;
  color: rgb(168, 160, 149);
}

.case-study-anchor:hover {
  color: #184d47;
}

nav ul li {
  list-style: circle;
}

.top-25 {
  top: 25%;
}

.active {
  color: #184d47;
  font-weight: 700;
  list-style: disc !important;
}

.active > .case-study-anchor {
  color: #184d47;
  font-weight: 700;
}

/* Team */
.avatar {
  border-radius: 50%;
}

.person-icon {
  max-width: 50px;
  max-height: 50px;
}

.team-message {
  font-size: 1.3rem;
}

/* Uncategorized */
.github-link {
  position: sticky;
  float: right;
  top: 20px;
  right: 20px;
}

/* Media Queries */
/* xs */
@media (min-device-width: 0) and (max-device-width: 575px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
  }
}

/* sm */
@media (min-width: 576px) and (max-device-width: 767px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
  }
}

/* md */
@media (min-width: 768px) and (max-device-width: 991px) {
  .person-icon {
    max-width: 30px;
    max-height: 30px;
  }
}

/* lg */
@media (min-width: 992px) {
}

/* xlg */
@media (min-width: 1200px) {
}

/* xxlg */
@media (min-width: 1400px) {
}
