/* 
    TABLE OF CONTENTS
    1. General Body
    2. Case Study
    3. Team
    4. Cover Section
    5. Navigation
    X. Media Queries
*/

/* 1. General Body */
code {
  background-color: #f1f1f1;
  padding: 3px;
  border-radius: 4px;
  /* color: #184d47; */
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}

.mw-100 {
  max-width: 100%;
}

.reset-ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* 2. CASE STUDY */
.case-study-h1 {
  color: #184d47;
}

.case-study-h2 {
  color: #96bb7c;
}

.case-study-anchor {
  text-decoration: none;
  color: rgb(168, 160, 149);
}

.case-study-anchor:hover {
  color: #184d47;
}

/* Team */
.avatar {
  border-radius: 50%;
}

.person-icon {
  max-width: 50px;
  max-height: 50px;
}

.team-message {
  font-size: 1.3rem;
}

/* 4. Cover Section */
.cover-logo {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/* Uncategorized */
.border-radius-10 {
  border-radius: 10px;
}

/* 5. Navigation */
nav#site-navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1050;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(161, 161, 161, 1);
  box-shadow: 0px 5px 15px 0px rgba(161, 161, 161, 1);
}

#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
}

#burger-menu {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 7px;
  right: 10px;
  z-index: 1100;
  background: white;
  border-radius: 50%;
}

nav ul li {
  list-style: circle;
}

.top-25 {
  top: 25%;
}

.active {
  color: #184d47;
  font-weight: 700;
  list-style: disc !important;
}

.active > .case-study-anchor {
  color: #184d47;
  font-weight: 700;
}

#case-study-mobile {
  display: none;
}

.no-bullet {
  text-decoration: none;
  list-style: none;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

#mobile-nav-li {
  display: none;
  visibility: hidden;
}

.main-nav-link:hover {
  font-weight: 600;
}

.try-now {
  color: #184d47;
  border: 1px solid #184d47;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.try-now:hover {
  color: white;
  background-color: #184d47;
}

/* Media Queries */
/* xs */
@media (min-device-width: 0) and (max-device-width: 575px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .cover-logo {
    max-width: 80%;
  }

  #case-study-mobile {
    display: block;
  }

  .top-nav {
    margin-right: 2rem;
  }

  #mobile-nav-li {
    display: block;
    visibility: visible;
  }
}

/* sm */
@media (min-width: 576px) and (max-device-width: 767px) {
  /* X.2 CASE STUDY */
  #case-study-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .cover-logo {
    max-width: 80%;
  }

  #case-study-mobile {
    display: block;
  }
}

/* md */
@media (min-width: 768px) and (max-device-width: 991px) {
  .person-icon {
    max-width: 30px;
    max-height: 30px;
  }
}

/* lg */
@media (min-width: 992px) {
}

/* xlg */
@media (min-width: 1200px) {
}

/* xxlg */
@media (min-width: 1400px) {
}
